/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles  $ MY IMAGES STYLE */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    color: white;
    /* background: linear-gradient(to bottom, #491d49, #1b2e2e); */
    /* background: linear-gradient(to top, black, white); */
    /* background: rgb(41, 35, 35); */
        background: url(images/13398987_5221116.jpg);
        background-repeat: no-repeat no-repeat center;
        background-size: cover;
        width: 100%;
}
html{
    scroll-behavior: smooth;
    color-scheme: dark light;
}
h1{
    color: orangered;
}
h2{
    color: orangered;
}

.container{
    max-width: 960px;
        margin: 0 auto;
        padding: 0 15px;
}
.my{
   position: absolute;
   text-align: center;
   top: 6rem;
   left: 5rem;
  }
/* MY IMAGES */
.div{
    display: grid;
    zoom: 40%;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.my-img{
    border: 5px solid #ff1ee9;
    border-radius: 2rem;
}
.my-img2{
    border: 5px solid #ff5a1e;
    border-radius: 2rem;
} 
/* Header Styles */
.logo{
    font-size: 25px;
    font-weight: bolder;
}
label img{
    height: 10vh;
    border-radius: 50%;
    zoom: 50%;
    margin: -10px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: whitesmoke;
    font-family: Arial, sans-serif;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 89990;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.line {
    width: 50%;
    height: 2px;
    background-color: white;
    transition: transform 0.3s ease-in-out;
}

.line-1.active {
    transform: translateY(8px) rotate(45deg);
}

.line-2.active {
    opacity: 0;
}

.line-3.active {
    transform: translateY(-8px) rotate(-45deg);
}

.nav-links {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 10px;
}
.nav-links a{
    list-style-type: none;
    color: orangered;
    text-decoration: none;
}
.nav-links li a:hover{
    color: #fff;
}

.moon img{  
    width: 50%;
    height: 5vh;
}

/* Main Styles */
main {
    /* padding-top: 10px; */
    margin-bottom: 50px;
}

#name{
    background: url(images/programming-background-with-person-working-with-codes-computer.jpg);
    background-size: cover;
        background-repeat: no-repeat no-repeat;
        background-position: center;
        width: 100%;
        height: 100vh;
}
.name{
    margin-top: 1rem;
     color: rgb(255, 60, 0);
}

.welcome{
    margin-top: 10rem;
    font-weight: 500;
}
.social-media {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
    box-shadow: 1px 2px 3px solid #1b2e2e;
        transition: 0.5s ease-out;
}
.social-media:nth-of-type() {
    transform: translateX(-400%);
}
.social-media.show{
    transform: translateX(0);
}
.about{
    text-align: center;
}
.container{
    opacity: 0;
        /* transform: translateY(30px); */
        transition: opacity 0.9s ease-in-out, transform 0.5s ease-in-out;
}
.container.animate {
    opacity: 1;
    transform: translateX(-1);
}
#my{
    text-align: center;
}

.social-media a {
    text-decoration: none;
}
.social-media :hover{
   transform: translateY(-1px);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}
section {
    padding: 80px 0;
}
.intro {
    font-size: 2rem;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}

section h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
}
/* skills style */
#skills h1{
    text-align: center;
}
.hidden{
    opacity: 0;
        /* transform: translateY(30px); */
        transition: opacity 0.9s ease-in-out, transform 0.5s ease-in-out;
}
.hidden.animate{
    opacity: 1;
        transform: translateX(-1);
}
span {
    display: flex;
    flex-direction: column;
    background-color: #333;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    font-size: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.img1{
    display: flex;
}
.img1 h4{
    font-size: 1rem;
}
.img1 p{
    font-size: 0.8rem;
}
.img1 img {
    border-radius: 10px;
    height: 40px;
}
span:hover{
    border-bottom: 2px white solid;
    border-left: 2px white solid;
    box-shadow: 2px 5px 10px rgba(255, 0, 0, 0.369);
}
section p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.projects {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project {
    flex-basis: calc(33.33% - 20px);
    margin: 10px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}

.project img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}
.cac:hover{
    height: 345px;
}
.nylon:hover{
    height: 345px;
}

.car:hover{
    height: 345px;
}


.project h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin: 10px;
}

.project p {
    font-size: 16px;
    color: #666666;
    margin: 10px;
}
/* #contact{
    background: linear-gradient(to bottom, #491d49, #1b2e2e);
    background-size: cover;
} */
button[type="menu"] {
    background-color: #333;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        transition: all 0.3s ease;
}
button[type="menu"]:hover{
    background-color: blueviolet;
}
.social-icons2 a{
    text-decoration: none;
}
.social-icons2{
    box-shadow: 2px  rgba(0, 0, 0, 0.2);
}
.social-icons2 :hover{
    transform: translateY(-1px);
}
/* Contact Form Styles */
form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

input,
textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    font-family: inherit;
    resize: none;
}

textarea {
    height: 200px;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button[type="submit"]:hover {
    background-color: blueviolet;
}

/* Footer Styles */
footer {
    background-color: #333;
    text-align: center;
} 
/* RESPONSIVE STYLE */

@media screen and (min-width: 768px) {
    .hamburger-menu {
        display: none;
    }

    .nav-links {
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    main{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .div{
        transition: 1s ease-in-out;
    }
    .my-img{
        border-radius: 30rem;
    }
    .my-img2{
        border-radius: 5rem;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        color: aqua;
        background-color: #333;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 75px;
        left: 0;
        width: 80%;
        height: calc(100vh - 60px);
        transition: all 0.5s ease;
        z-index: 1;
        border-radius: 3rem;
    }

    .nav-links.active {
        display: flex;
        text-align: center;
    }

    .nav-links li {
        margin: 10px;
        margin-top: 2rem;
        font-size: 2.6rem;
    }
        .nav-links li a:hover {
            color: #fff;
        }
        .welcome{
        margin-top: 5rem;
        }
        .social-media{
            margin-top: -1.5rem;
        }
        .name{
            text-align: center;
        }
        .about{
            text-align: center;
        }
        .projects{
            text-align: center;
        }
        .contact{
            text-align: center;
        }
        .social-media{
            zoom: 80%;
        }
        .welcome{
            text-align: center;
        }
        .am{
            text-align: center;
        }
        #my{
            text-align: center;
        }
        .introduction{
            text-align: center;
        }
        .box div{
            width: 10%;
            height: 10vh;
            border-radius: 1rem;
        }
                 .project {
                     flex-basis: calc(50% - 20px);
                 }
                 .img1{
                    display: flex;
                    flex-direction: column;
                 }
}
 @media screen and (max-width: 480px) {
     .project {
         flex-basis: 100%;
     }
 }

/* ANIMATIONS */
.box div {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid rgb(21, 110, 112);
}

.box div:nth-child(1) {
    top: 12%;
    left: 24%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(2) {
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;
}

.box div:nth-child(3) {
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(4) {
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(5) {
    top: 67%;
    left: 10%;
    animation: animate 6s linear infinite;
}

.box div:nth-child(6) {
    top: 90%;
    left: 20%;
    animation: animate 12s linear infinite;
}

.box div:nth-child(7) {
    top: 100%;
    left: 80%;
    animation: animate 15s linear infinite;
}

.box div:nth-child(8) {
    top: 40%;
    left: 35%;
    animation: animate 16s linear infinite;
}

.box div:nth-child(9) {
    top: 90%;
    left: 5%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(10) {
    top: 80%;
    left: 74%;
    animation: animate 5s linear infinite;
}

.box div:nth-child(11) {
    top: 130%;
    left: 74%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(12) {
    top: 170%;
    left: 80%;
    animation: animate 7s linear infinite;
}

.box div:nth-child(13) {
    top: 150%;
    left: 2%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(14) {
    top: 190%;
    left: 60%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(15) {
    top: 200%;
    left: 2%;
    animation: animate 6s linear infinite;
}

.box div:nth-child(16) {
    top: 200%;
    left: 80%;
    animation: animate 12s linear infinite;
}

.box div:nth-child(17) {
    top: 100%;
    left: 78%;
    animation: animate 15s linear infinite;
}

.box div:nth-child(18) {
    top: 210%;
    left: 35%;
    animation: animate 16s linear infinite;
}

.box div:nth-child(19) {
    top: 180%;
    left: 45%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(20) {
    top: 350%;
    left: 80%;
    animation: animate 5s linear infinite;
}

.box div:nth-child(21) {
    top: 220%;
    left: 50%;
    animation: animate 5s linear infinite;
}
.box div:nth-child(22) {
    top: 350%;
    left: 50%;
    animation: animate 5s linear infinite;
}
.box div:nth-child(23) {
    top: 210%;
    left: 5%;
    animation: animate 5s linear infinite;
}
.box div:nth-child(24) {
    top: 390%;
    left: 20%;
    animation: animate 5s linear infinite;
}
.box div:nth-child(25) {
    top: 200%;
    left: 80%;
    animation: animate 5s linear infinite;
}
.box div:nth-child(26) {
    top: 320%;
    left: 80%;
    animation: animate 5s linear infinite;
}
.box div:nth-child(27) {
    top: 300%;
    left: 50%;
    animation: animate 5s linear infinite;
}
.box div:nth-child(28) {
    top: 315%;
    left: 75%;
    animation: animate 5s linear infinite;
}
.box div:nth-child(29) {
    top: 280%;
    left: 5%;
    animation: animate 5s linear infinite;
}
.box div:nth-child(30) {
    top: 200%;
    left: 70%;
    animation: animate 5s linear infinite;
}
.box div:nth-child(31) {
    top: 330%;
    left: 30%;
    animation: animate 5s linear infinite;
}

 @keyframes animate {
    0% {
        transform: translateY(200vh) scale(0);
    }

    100% {
        transform: translateY(-10vh) scale(1);
    }
}

/* CSS ENDS HERE */